/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Dom's Personal Style */
.margin-bottom-sm {
  margin-bottom: 0.3em;
}

.margin-bottom-md {
  margin-bottom: 0.6em;
}

.margin-bottom-lg {
  margin-bottom: 1.3em;
}

.secondary {
  color: #65b5b4;
}

.white {
  color: white;
}

html {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  width: 992px;
  height: 1403px;
  border: 1px solid black;
}

@media print {
  body {
    border: none;
  }
}
a {
  color: black;
}

strong {
  font-weight: bold;
}

ul {
  padding: 0 21px;
}

li {
  list-style-type: initial;
}

.table .row {
  display: flex;
  margin-bottom: 0.6em;
}
.table .row .little-icon {
  text-align: center;
  width: 1em;
  margin-right: 0.4em;
}

.top-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #31393b;
  height: 300px;
  width: 664px;
  margin-top: 30px;
  padding-left: 329px;
}
.top-bar .titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.top-bar h1 {
  font-size: 59px;
  color: white;
}
.top-bar h2 {
  margin-top: 13px;
  font-size: 32px;
  color: #65b5b4;
}

.title {
  position: relative;
  padding: 8px 0;
  font-size: 24px;
  background-color: #31393b;
  color: white;
}

.left-bar {
  font-size: 15px;
  background-color: #65b5b4;
  position: absolute;
  left: 30px;
  top: 0;
  height: 1405px;
  width: 300px;
}
.left-bar .container {
  padding: 0 23px;
}
.left-bar .container .image {
  display: flex;
  justify-content: center;
  margin: 85px 0;
}
.left-bar .container .image img {
  width: 83%;
  border-radius: 50%;
  box-shadow: 0 0 0 12px #438b8a;
}
.left-bar .container .section {
  margin-bottom: 40px;
}
.left-bar .container .section .title {
  margin-bottom: 15px;
  text-align: center;
}
.left-bar .container .section a {
  text-decoration: none;
}
.left-bar .first {
  min-width: 55px;
}

.inner {
  font-size: 21px;
  line-height: 1.2em;
  position: absolute;
  top: 331px;
  left: 330px;
  width: 663px;
  height: 1073px;
}
.inner .container {
  padding: 36px;
}
.inner .container .section {
  margin-bottom: 40px;
}
.inner .container .section .title {
  margin-bottom: 12px;
}
.inner .container .section .title span {
  margin-left: 22px;
}
.inner .first {
  min-width: 82px;
}
.inner .row {
  margin-bottom: 0.2em;
}

.big-icon {
  font-size: 30px;
  position: absolute;
  top: -10px;
  right: 11px;
}

.footer {
  font-size: 14px;
  line-height: 1.4em;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px 16px;
}

.note {
  color: white;
  font-size: 13px;
  line-height: 2em;
}
.note a {
  color: inherit;
}

/*# sourceMappingURL=dom.css.map */
