@import 'reset';

/* Dom's Personal Style */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$margin: 30px;
$a4-width: 992px;
$a4-height: 1403px;
$bar-dimension: 300px;
$primary-color: #31393b;
$secondary-color: #65b5b4;
$mainFontSize: 36px;

$dimensions:(sm: 0.3em, md: 0.6em, lg: 1.3em);

@each $key, $value in $dimensions{
    .margin-bottom-#{$key} {
        margin-bottom: $value;
    }
}

.secondary{
    color: $secondary-color;
}

.white{
    color: white;
}

html{
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    width: $a4-width;
    height: $a4-height;
    border: 1px solid black;
}

@media print {
    body{
        border: none;
    }
}

a{
    color: black;
}

strong{
    font-weight: bold;
}

ul{
    padding: 0 21px;
}

li{
    list-style-type: initial;
}

.table{
    .row{
        display: flex;
        margin-bottom: 0.6em;
        .little-icon{
            text-align: center;
            width: 1em;
            margin-right: 0.4em;
        }
    }
}

.top-bar{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $primary-color;
    height: $bar-dimension;
    width: $a4-width - ($bar-dimension + $margin - 1) + 1;
    margin-top: $margin;
    padding-left: $bar-dimension + $margin - 1;
    .titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    h1{
        font-size: 59px;
        color: white;
    }
    h2{
        margin-top: 13px;
        font-size: $mainFontSize - 4;
        color: $secondary-color;
    }
}

.title{
    position: relative;
    padding: 8px 0;
    font-size: $mainFontSize - 12;
    background-color: $primary-color;
    color: white;
}

.left-bar{
    font-size: 15px;
    background-color: $secondary-color;
    position: absolute;
    left: $margin;
    top: 0;
    height: $a4-height + 2;
    width: $bar-dimension;
    .container{
        padding: 0 23px;
        .image{
            display: flex;
            justify-content: center;
            margin: 85px 0;
            img{    
                width: 83%;
                border-radius: 50%;
                box-shadow: 0 0 0 12px darken($secondary-color,15%);
            }
        }
        .section{
            margin-bottom: 40px;
            .title{
                margin-bottom: 15px;
                text-align: center;
            }
            a{
                text-decoration: none;
            }
        }
    }
    .first{
        min-width: 55px;
    }
}

.inner{
    font-size: 21px;
    line-height: 1.2em;
    position: absolute;
    top: $margin + $bar-dimension + 1;
    left: $margin + $bar-dimension;
    width: $a4-width -($margin + $bar-dimension) + 1;
    height: $a4-height -($margin + $bar-dimension);
    .container{
        padding: 36px;
        .section{
            margin-bottom: 40px;
            .title{
                margin-bottom: 12px;
                span{
                    margin-left: 22px;
                }
            }
        }
    }
    .first{
        min-width: 82px;
    }
    .row{
        margin-bottom: 0.2em;
    }
}

.big-icon{
    font-size: 30px;
    position: absolute;
    top: -10px;
    right: 11px;
}

.footer{
    font-size: 14px;
    line-height: 1.4em;
    position:absolute;
    bottom: 0;
    left: 0;
    padding: 16px 16px;
}

.note{
    color: white;
    font-size: 13px;
    line-height: 2em;
    a{
        color: inherit;
    }
}